<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pcd.finald">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/buslogo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/buslogo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".dr_desh"
            android:label="Travellers&apos; Pass"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".bs_login" />
        <activity android:name=".signup" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Startup" />
        <activity android:name=".usr_login" />
        <activity android:name=".bs_ser"
            android:label="Travellers&apos; Pass"/>
        <activity android:name=".ScanActivity" />
        <activity android:name=".scnqr"
            android:label="Scan"/>
        <activity android:name=".share_location"
            android:label="Location"/>
        <activity android:name=".payment"
            android:label="payment"/>
        <activity android:name=".review_rating"
            android:label="Rate Us"/>
        <activity android:name=".renew_payment"
            android:label="payment"></activity>
    </application>

</manifest>